body {
    margin: 8px;
    background-color: #c0c0c0;
}

.caja {
    margin: 8px;
    background-color: white;
    border-style: outset;

}

.padding {
    padding: 8px;
}

.azul {
    background-color: aqua;
    color: white;
    border: 0px;
    padding: 5px;
}

.gris {
    background-color: gray;
    color: white;
    border: 0px;
    padding: 5px;

}